[Unit]
Description=Disk management using udiskie

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --automount --notify --smart-tray

[Install]
WantedBy=default.target
