[Unit]
Description=Kill all openvpn connections
Before=sleep.target

[Service]
Type=simple
ExecStart=-/usr/bin/killall openvpn

[Install]
WantedBy=sleep.target
