[Unit]
Description=X session lock
PartOf=autostart.target

[Service]
Type=simple
ExecStart=/usr/bin/xss-lock \
  --verbose \
  --notifier %h/.local/bin/dim-screen.sh \
  -- %h/.local/bin/lock

[Install]
WantedBy=autostart.target
