[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
Type=simple
User=%I
Environment=DISPLAY=:0
ExecStartPre=-/usr/bin/amixer set Master mute
ExecStart=-/usr/bin/xautolock -locknow
ExecStartPre=-/usr/bin/xset dpms force suspend

[Install]
WantedBy=sleep.target
